<!DOCTYPE html>
<html>

<head>
    <title>Fuzzy Decision Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Fuzzy Upgrade Urgency Evaluator</h1>

    <form method="POST">

        <label>RAM Gap GB:</label><br>
        <input type="number" step="any" name="ram_gap_gb" required>
        <br><br>

        <label>Storage Gap GB:</label><br>
        <input type="number" step="any" name="storage_gap_gb" required>
        <br><br>

        <label>GPU Gap Score:</label><br>
        <input type="number" step="any" name="gpu_gap_score" required>
        <br><br>

        <button type="submit">Run Fuzzy Decision</button>

    </form>

    <br>
    <a href="/">Back Home</a>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>